body {
  font-family: Arial, sans-serif;
  background: #2d2f31;
}
.header {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.wallet {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.balance p {
  font-size: 24px;
  font-weight: bold;
}

.wallet-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  color: rgb(68, 4, 243);
  border-radius: 4px;
  cursor: pointer;
}

.wallet-form button {
  margin-right: 5px;
  padding: 8px 80px;
}

.quick-actions button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 16px;
  margin: 5px 5px;
  padding: 6px 20px;
}

.transactions ul {
  list-style: none;
  padding: 0;
}

.transactions li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}

.transactions li.credit {
  background: #e6fffa;
  color: rgb(30, 71, 30);
}

.transactions li.debit {
  background: #ffe6e6;
  color: rgb(95, 53, 53);
}

.reset-btn {
  margin-top: 10px;
  background: rgb(165, 41, 65);
  color: white;
  padding: 16px 190px;
  border-radius: 14px;
}

.reset-btn:hover {
  background: rgb(255, 0, 43);
}